<div class="card">
  <div class="card-body">
    <h5 class="card-title">ตาราง Virtual Run ที่เข้าร่วมแล้ว</h5>
    <table class="table table-borderless mt-4" *ngIf="myVrList">
      <tbody>
        <tr *ngFor="let v of myVrList">
          <td>
            <app-vr-list-item [vr]="v"></app-vr-list-item>
          </td>
        </tr>
        <tr *ngIf="myVrList.length === 0">
          <td>ยังไม่มี</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">ตาราง Virtual Run ทั้งหมด</h5>
    <table class="table table-borderless mt-4" *ngIf="vrList">
      <tbody>
        <tr *ngFor="let v of vrList">
          <td>
            <app-vr-list-item [vr]="v"></app-vr-list-item>
          </td>
        </tr>
        <tr *ngIf="vrList.length === 0">
          <td>ยังไม่มี</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
