<h2>ตาราง Virtual Run ที่เข้าร่วมแล้ว</h2>

<table class="table mt-4" *ngIf="vrList">
  <thead>
    <tr>
      <th>กิจกรรม</th>
      <th>วันเริ่ม</th>
      <th>วันสิ้นสุด</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of myVrList">
      <td class="align-middle">{{ v.title }}</td>
      <td class="align-middle">{{ v.period[0] | date : 'mediumDate' : '+0700' }}</td>
      <td class="align-middle">{{ v.period[1] | date : 'mediumDate' : '+0700' }}</td>
      <td class="align-middle"><a class="btn btn-danger" [routerLink]="['/vr', v.link]">ดูรายละเอียด</a></td>
    </tr>
    <tr *ngIf="myVrList.length === 0">
      <td colspan="4">ยังไม่มี</td>
    </tr>
  </tbody>
</table>

<h2>ตาราง Virtual Run ทั้งหมด</h2>

<table class="table mt-4" *ngIf="vrList">
  <thead>
    <tr>
      <th>กิจกรรม</th>
      <th>วันเริ่ม</th>
      <th>วันสิ้นสุด</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vrList">
      <td class="align-middle">{{ v.title }}</td>
      <td class="align-middle">{{ v.period[0] | date : 'mediumDate' : '+0700' }}</td>
      <td class="align-middle">{{ v.period[1] | date : 'mediumDate' : '+0700' }}</td>
      <td class="align-middle"><a class="btn btn-danger" [routerLink]="['/vr', v.link]">ดูรายละเอียด</a></td>
    </tr>
    <tr *ngIf="vrList.length === 0">
      <td colspan="4">ยังไม่มี</td>
    </tr>
  </tbody>
</table>
