<h2>สร้าง Virtual Run</h2>

<form>
  <div class="form-group">
    <label for="title">ชื่อ Virtual Run</label>
    <input type="text" id="title" class="form-control" placeholder="ชื่อ Virtual Run">
  </div>
  <div class="form-group">
    <label for="period">ช่วงเวลา</label>
    <input type="text" id="period" placeholder="เริ่มตั้งแต่เมื่อไหร่ ถึงเมื่อไหร่" class="form-control" bsDaterangepicker [bsConfig]="{'containerClass':'theme-red', 'showWeekNumbers': false}">
  </div>
  <div class="form-group">
    <label for="detail">รายละเอียด</label>
    <quill-editor id="detail" theme="bubble" class="form-control vr-detail" placeholder="รายละเอียด"></quill-editor>
  </div>
  <div class="text-right button-row">
    <button type="button" class="btn btn-secondary">ยกเลิก</button>
    <button type="submit" class="btn btn-danger">บันทึก</button>
  </div>
</form>
