<div class="standard-stats" *ngIf="profile">
  <div class="alert alert-info text-smaller-2" role="alert" *ngIf="profile.stats.recent.distance == 0.0">
    ดูเหมือนว่าคุณจะยังไม่ได้เริ่มวิ่งเลยนะ หรือข้อมูลการวิ่งของคุณอาจจะยังไม่ได้อัพเดท รอหน่อยละกันนะ
  </div>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" *ngIf="profile.stats.recent.distance > 0.0">
    <span>ล่าสุด ({{ profile.stats.recent.start_date | friendlyDateTime }})</span>
  </h6>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" *ngIf="profile.stats.recent.distance == 0">
    <span>ล่าสุด (-)</span>
  </h6>
  <div class="px-3 mt-2 mb-1">
  <span class="text-danger font-weight-bold">{{ profile.stats.recent.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>เดือนนี้ ({{ profile.stats.this_month_run_totals.count }} ครั้ง)</span>
  </h6>
  <div class="px-3 mt-2 mb-1">
  ระยะทางสะสม <span class="text-danger font-weight-bold">{{ profile.stats.this_month_run_totals.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>ปีนี้ ({{ profile.stats.this_year_run_totals.count }} ครั้ง)</span>
  </h6>
  <div class="px-3 mt-2 mb-1">
  ระยะทางสะสม <span class="text-danger font-weight-bold">{{ profile.stats.this_year_run_totals.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
</div>

<div class="mini-stats">
  <div class="px-3 mt-2 mb-1">
    <span class="font-weight-bold">ล่าสุด: </span><span class="text-danger font-weight-bold">{{ profile.stats.recent.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
  <div class="px-3 mt-2 mb-1">
    <span class="font-weight-bold">เดือนนี้ :</span><span class="text-danger font-weight-bold">{{ profile.stats.this_month_run_totals.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
  <div class="px-3 mt-2 mb-1">
    <span class="font-weight-bold">ปีนี้ :</span><span class="text-danger font-weight-bold">{{ profile.stats.this_year_run_totals.distance / 1000 | number:"1.2-2" }}</span> ก.ม.
  </div>
</div>
