<div *ngIf="vrDetail">

  <div>
    <h2>{{ vrDetail.title }}</h2>
    <div class="vr-detail" [innerHTML]="vrDetail.detail"></div>
    <h3>ระยะเวลา</h3>
    <div class="vr-detail">{{ vrDetail.period[0] | date }} ถึง {{ vrDetail.period[1] | date }}</div>
    <button class="btn btn-danger" data-toggle="modal" data-target="#joinModal" *ngIf="!joined && !joining">เข้าร่วม Virtual Run นี้</button>
  </div>

  <div class="mt-4" *ngIf="joined">
    <h3>ความคืบหน้า</h3>
    <p>
      คุณสัญญาว่าจะวิ่งในกิจกรรมนี้เป็นระยะทาง <span class="text-danger font-weight-bold">{{ engagement.distance }}</span> ก.ม.
      ตอนนี้คุณวิ่งไปแล้ว <span class="text-danger font-weight-bold">{{ (engagement.taken_distance / 1000.0) | number: '1.2-2' }}</span> ก.ม.
      <span *ngIf="!completed">
      ยังเหลืออีก <span class="text-danger font-weight-bold">{{ engagement.distance - (engagement.taken_distance / 1000.0) | number: '1.2-2' }}</span> ก.ม.
        <span *ngIf="percentCompleted < 50.0">
          หนทางยังอีกไกล ยังไหวอยู่ใช่ไหม สู้ ๆ นะ!!
        </span>
        <span *ngIf="50.0 <= percentCompleted && percentCompleted < 80.0">
          เลยครึ่งทางมาแล้ว เก่งมาก ลุย ๆ!!
        </span>
        <span *ngIf="80.0 <= percentCompleted">
          ใกล้แล้ว อีกนิดเดียว อย่าเพิ่งท้อ สู้ ๆ!!
        </span>
      </span>
      <span *ngIf="completed">
      คุณวิ่งครบตามระยะที่สัญญาไว้แล้ว สุดยอดมากเลย!!
      </span>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="percentCompleted" [attr.aria-valuenow]="percentCompleted" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="mt-4">
    <h3>คุณและเพื่อน ๆ</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ชื่อ</th>
          <th>ระยะทางที่สัญญาไว้</th>
          <th>วิ่งไปแล้ว</th>
          <th>คิดเป็น %</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="vrDetail.engagements.length == 0">
          <td colspan="4">ยังไม่มีใครร่วมกิจกรรมนี้เลย <span *ngIf="!joined">ถ้าสนใจก็ <a class="linkable text-danger" data-toggle="modal" data-target="#joinModal" *ngIf="!joined && !joining">คลิกเลย!</a></span></td>
        </tr>
        <tr *ngFor="let e of vrDetail.engagements">
          <td class="align-middle">{{ e.athlete_name }}</td>
          <td class="align-middle">{{ e.distance }} ก.ม.</td>
          <td class="align-middle">{{ e.taken_distance / 1000.0 | number : '1.2-2' }} ก.ม.</td>
          <td class="align-middle">{{ e.percent_complete | number : '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-5 bd-callout bd-callout-danger" *ngIf="joined || own">
    <div class="media">
      <fa-icon [icon]="faExclamation"></fa-icon>
      <div class="media-body">
        <h4>โซนอันตราย</h4>
        <p *ngIf="joined" class="mt-4">
          คุณอาจจะเข้าร่วมกิจกรรมนี้โดยไม่ได้ตั้งใจ หากคุณต้องการออกจากกิจกรรมนี้ คลิกที่ปุ่มด้านล่างนี้ได้เลย
        </p>
        <p *ngIf="joined">
          <button class="btn btn-danger" data-toggle="modal" data-target="#leaveModal">ออกจาก Virtual Run นี้</button>
        </p>
        <p *ngIf="own" class="mt-4">
          เพราะว่าคุณเป็นคนสร้าง Virtual Running คุณอาจจะอยากแก้ไข หรือยกเลิก Virtual Run นี้ คลิกที่ปุ่ม <span class="text-warning">แก้ไข Virtual Run</span> เพื่อแก้ไข Virtual Run นี้ หรือคลิกที่ปุ่ม <span class="text-danger">ยกเลิก Virtual Run</span> เพื่อยกเลิก Virtual Run นี้
        </p>
        <p *ngIf="own" class="broad-screen">
          <button class="btn btn-warning" (click)="edit()">แก้ไข Virtual Run นี้</button> <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">ยกเลิก Virtual Run นี้</button>
        </p>
        <p *ngIf="own" class="tall-screen">
          <button class="btn btn-warning btn-block" (click)="edit()">แก้ไข Virtual Run นี้</button>
          <button class="btn btn-danger ml-2 btn-block" data-toggle="modal" data-target="#deleteModal">ยกเลิก Virtual Run นี้</button>
        </p>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinModalLabel">เข้าร่วม Virtual Run</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="joinForm">
          <div class="form-group">
            <label for="distance">ระยะทาง (ก.ม.)</label>
            <input type="number" class="form-control" id="distance" formControlName="distance">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="join()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteVrLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteVrLabel">ยกเลิก Virtual Run</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-danger">
        <div class="media">
          <fa-icon [icon]="faExclamation"></fa-icon>
          <div class="media-body">
            <p>ต้องการที่จะยกเลิก Virtual Run นี้จริง ๆ ใช่ไหม? เพื่อน ๆ ของคุณอาจจะสนใจ Virtual Run นี้อยู่นะ</p>
            <p>อย่างไรก็ตาม อย่าลืมบอกเพื่อน ๆ ของคุณที่เข้าร่วม Virtual Run นี้แล้วด้วยนะ ว่าคุณได้ลบ Virtual Run นี้ออกไปแล้ว</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยังไม่ลบตอนนี้</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="remove()">ยืนยันที่จะลบ</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveVrLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leaveVrLabel">ออกจาก Virtual Run</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-danger">
        <div class="media">
          <fa-icon [icon]="faExclamation"></fa-icon>
          <div class="media-body">
            <p>คุณอาจจะเข้าร่วมกิจกรรมนี้โดยไม่ได้ตั้งใจ มันเป็นเรื่องที่น่าเสียใจมาก หากคุณสนใจจะไม่เข้าร่วมกิจกรรมเพื่อสุขภาพนี้</p>
            <p>อย่างไรก็ตาม เราก็เคารพในการตัดสินใจของคุณนะ</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยังไม่ออกตอนนี้</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="leave()">ยืนยันที่จะออกจาก Virtual Run</button>
      </div>
    </div>
  </div>
</div>
