<div *ngIf="vrDetail">
  <div>
    <h2>{{ vrDetail.title }}</h2>
    <div class="vr-detail" [innerHTML]="vrDetail.detail"></div>
    <button class="btn btn-danger">เข้าร่วม Virtual Run นี้</button>
  </div>
  <div class="mt-4">
    <h3>ความคืบหน้า</h3>
    <p>
      คุณสัญญาว่าจะวิ่งในกิจกรรมนี้เป็นระยะทาง <span class="text-danger font-weight-bold">269</span> ก.ม.
      ตอนนี้คุณวิ่งไปแล้ว <span class="text-danger font-weight-bold">155</span> ก.ม.
      ยังเหลืออีก <span class="text-danger font-weight-bold">114</span> ก.ม. สู้ ๆ นะ!!
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="mt-4">
    <h3>เพื่อน ๆ</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ชื่อ</th>
          <th>ระยะทางที่สัญญาไว้</th>
          <th>วิ่งไปแล้ว</th>
          <th>คิดเป็น %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle">Chaiyarin</td>
          <td class="align-middle">100 ก.ม.</td>
          <td class="align-middle">36 ก.ม.</td>
          <td class="align-middle">36%</td>
        </tr>
        <tr>
          <td class="align-middle">Waraporn</td>
          <td class="align-middle">100 ก.ม.</td>
          <td class="align-middle">36 ก.ม.</td>
          <td class="align-middle">36%</td>
        </tr>
        <tr>
          <td class="align-middle">Paramate</td>
          <td class="align-middle">100 ก.ม.</td>
          <td class="align-middle">36 ก.ม.</td>
          <td class="align-middle">36%</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
