/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f0f0;
}

.ql-editor {
  background-color: #fff;
}

.ql-container {
  font-size: 1rem !important;
}

.spinning svg {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.card.linkable {
  cursor: pointer;

  &:hover {
    border-color: #d9534f;
  }
}

.linkable {
  cursor: pointer;
}

.modal-body {
  fa-icon {
    font-size: 40px;
    width: 50px;
  }
}

.modal-danger {
  fa-icon {
    color: #d9534f;
  }
}

/* callout */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ccc;
  border-left-width: .25rem;
  border-radius: .25rem;

  fa-icon {
    font-size: 40px;
    width: 50px;
  }
}

.bd-callout-danger {
  border-left-color: #d9534f;
  background: #fafafa;

  h4 {
    color: #d9534f;
  }

  fa-icon {
    color: #d9534f;
  }
}


/* typography helper */
.text-smaller-1 {
  font-size: 0.9rem;
}

.text-smaller-2 {
  font-size: 0.8rem;
}

.text-smaller-3 {
  font-size: 0.7rem;
}

.text-super-large-1 {
  font-size: 4rem;
}

.text-super-large-2 {
  font-size: 3rem;
}

.text-super-large-3 {
  font-size: 2rem;
}

@media screen and (max-width: 575px) {
  .text-super-large-1 {
    font-size: 3rem;
  }

  .text-super-large-2 {
    font-size: 2rem;
  }

  .text-super-large-3 {
    font-size: 1.3rem;
  }
}

.fa-1dot5x {
  font-size: 1.5em
}

.bt-1 {
  border-top: 1px solid #e0e0e0;
}

.bl-1 {
  border-left: 1px solid #e0e0e0;
}

/* Speech bubble */

.speech-bubble {
	position: relative;
	background: #f0f0f0;
  border-radius: .4em;
  margin-top: 35px;
  border: 0;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-bottom-color: #f0f0f0;
	border-top: 0;
	border-left: 0;
	margin-left: -13px;
	margin-top: -26px;
}

/* negative margins */
.mt--1 {
  margin-top: -.5rem!important;
}

.mt--2 {
  margin-top: -1rem!important;
}

.progress {
  &.slim {
    height: 0.2rem;
  }
}

.flat-top {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
