/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f0f0;
}

.ql-editor {
  background-color: #fff;
}

.ql-container {
  font-size: 1rem !important;
}
